.deck__aside {
  background-color: white;
  flex: 2;
  height: 100%;
  padding: var(--gap);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

/* .deck__aside__chart {
  max-width: 100%;
  height: 100%;
} */

.deck__aside__download {
  width: 100%;
  height: 2.5em;
  font-size: 18px;
  border: none;
  background-color: var(--p-purple);
  color: white;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

#asdf {
  max-width: 100%;
  height: 100%;
}