.deck__aside__content {
  background-color: white;
  padding: var(--gap);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  position: sticky;
  top: var(--gap);
}

.deck__aside__chart {
  position: relative;
  width: 40vw;
}

.deck__aside__download {
  width: 100%;
  height: 2.5em;
  font-size: 18px;
  border: none;
  background-color: var(--p-purple);
  color: white;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}