@keyframes expand {
  from {
    height: 0;
    margin: 0 auto;
  }
  to {
    height: normal;
    margin: 5rem auto;
  }
}

.loading-icon {
  display: block;
  margin: 5rem auto;
}

.more-loading {
  animation: expand 0.5s;
}